.index_block_0{margin:50px 0px;}
.index_block_0 section{}
.index_block_0 section .b0{margin:50px 0px;box-sizing:border-box;padding:30px;width:960px;background:white;border:1px solid #D9D9D9;justify-content:flex-start;}
.index_block_0 section .b0 .b1{flex-flow:column nowrap;margin:10px;}
.index_block_0 section .b0 .b1 img{width:300px;height:300px;object-fit:cover;}
.index_block_0 section .b0 .b1 span{font:18px Circe-Bold;margin:20px 0px 0px 0px;}
.index_block_0 section .b2{padding:0px 0px 50px 0px;flex-flow:column nowrap;justify-content:flex-start;align-items:flex-start;margin:50px 20px 0px 50px;width:300px;background:white;border:1px solid #D9D9D9;}
.index_block_0 section .b2 .s0{font:18px Circe-Bold;text-transform:uppercase;margin:20px 0px 0px 20px;}
.index_block_0 section .b2 .s1{font:16px Circe-Regular;text-transform:uppercase;margin:20px 0px 0px 20px;}
.index_block_0 section .b2 .b3{margin:10px 0px 0px 20px;flex-flow:column nowrap;align-items:flex-start;}
.index_block_0 section .b2 .b3 span{margin:10px 0px 0px 0px;font:16px Circe-Regular;}
.index_block_0 section .b2 .b3 input{margin:0px 10px 0px 0px;}