.travelers_block_0{}
.travelers_block_0 section{}
.travelers_block_0 section .b0{align-items:flex-start;flex-flow:column nowrap;margin:50px 0px;box-sizing:border-box;padding:30px;width:960px;background:white;border:1px solid #D9D9D9;justify-content:flex-start;}
.travelers_block_0 section .b0 .b1{margin:30px 0px 0px 0px;border-bottom:1px solid #ccc;padding-bottom:20px;flex-flow:column nowrap;align-items:flex-start;}
.travelers_block_0 section .b0 .b1 span{font:16px Circe-Regular;}
.travelers_block_0 section .b0 .b1 .s0{text-decoration:underline;cursor:pointer;}
.travelers_block_0 section .b0 .b1 .b2{flex-flow:column nowrap;align-items:flex-start;}